{% block css %}
<link href="{{ url_for('static', filename='static/css/chartist.min.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='static/css/nice-select.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='static/css/bootstrap-datetimepicker.min.css') }}" rel="stylesheet">
<!-- Style css -->
<link href="{{ url_for('static', filename='static/css/style.css') }}" rel="stylesheet">
{% endblock %}


{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-xl-12 col-lg-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">编辑用户</h4>
                </div>
                <div class="card-body">
                    <div class="basic-form">
                        <form id="data-edit">
                            <div class="input-group mb-3 row">
                                <label class="col-sm-2 col-form-label col-form-label-lg">用户名</label>
                                <div class="col-sm-10">
                                    <input type="text" name="username" class="form-control form-control-lg"
                                        placeholder="请输入用户名">
                                </div>
                            </div>
                            <div class="input-group mb-3 row">
                                <label class="col-sm-2 col-form-label col-form-label-lg">邮箱</label>
                                <div class="col-sm-10">
                                    <input type="email" name="email" class="form-control form-control-lg"
                                        placeholder="请输入邮箱">
                                </div>
                            </div>
                            <div class="input-group mb-3 row">
                                <label class="col-sm-2 col-form-label col-form-label-lg">手机</label>
                                <div class="col-sm-10">
                                    <input type="phone" name="phone" class="form-control form-control-lg"
                                        placeholder="请输入手机">
                                </div>
                            </div>
                            <div class="input-group mb-3 row">
                                <label class="col-sm-2 col-form-label col-form-label-lg">照片</label>
                                <div class="col-sm-10">
                                    <img src="" id="avatar-img" style="width: 150px; height: 150px;" alt="这是照片">
                                </div>
                            </div>
                            <div class="input-group mb-3">
                                <!-- <label class="col-sm-2 col-form-label col-form-label-lg">照片</label> -->
                                <div class="form-file col-sm-10">
                                    <input type="file" id="fileInput" class="form-file-input form-control">
                                    <input type="hidden" name="avatar" id="avatar">
                                </div>
                                <button type="button" class="input-group-text upload-image">上传照片</button>
                            </div>
                            <div class="input-group mb-3 row">
                                <button type="submit" class="btn btn-sm btn-primary">保存</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<!-- Required vendors -->
<script src="{{ url_for('static', filename='static/js/global.min.js') }}"></script>
<script src="{{ url_for('static', filename='static/js/jquery.nice-select.min.js') }}"></script>
<script src="{{ url_for('static', filename='static/js/sweetalert2@11.js') }}"></script>

<script src="{{ url_for('static', filename='static/js/custom.min.js') }}"></script>
<script src="{{ url_for('static', filename='static/js/deznav-init.js') }}"></script>
<script src="{{ url_for('static', filename='static/js/demo.js') }}"></script>
<script src="{{ url_for('static', filename='static/js/styleSwitcher.js') }}"></script>
<script>
    function getUrlParam(name) {
        const reg = new RegExp('(^|&)' + name + '=([^&]*)(&|$)');
        const r = window.location.search.substr(1).match(reg);
        if (r != null) return decodeURIComponent(r[2]);
        return null;
    }

    // 使用示例
    const id = getUrlParam('id');

    $.ajax({
        url: "/user/" + id,
    }).done(function (res) {
        let data = res.data;
        for (let key in data) {
            $(`[name="${key}"]`).val(data[key]);
        }
        $("#avatar-img").attr("src", data.avatar);
    });

    $("#data-edit").on("submit", function (e) {
        e.preventDefault();

        // 如果你想转成对象
        const obj = {};
        $(this).serializeArray().forEach(item => obj[item.name] = item.value);
        $.ajax({
            url: "/user/" + id,
            type: "PUT",
            dataType: "JSON",
            contentType: "application/json",
            data: JSON.stringify(obj)
        }).done(function (res) {
            Swal.fire({
                // title: "Deleted!",
                text: res.msg,
                icon: "success"
            });
        });
    });

    $(".upload-image").on("click", function (event) {
        let formData = new FormData();
        formData.append("file", $("#fileInput")[0].files[0]);
        $.ajax({
            url: "/upload",
            type: "POST",
            data: formData,
            processData: false,
            contentType: false,
            success: function (res) {
                if (res.code == 200) {
                    $("#avatar").val(res.url);
                    $("#avatar-img").attr("src", res.url);
                    Swal.fire({
                        // title: "Deleted!",
                        text: res.msg,
                        icon: "success"
                    });
                } else {
                    Swal.fire({
                        // title: "Deleted!",
                        text: res.msg,
                        icon: "error"
                    });
                }
            }
        });

    });

</script>
{% endblock %}