{% extends "base.html" %}

{% block css %}
<!-- <link href="{{ url_for('static', filename='static/css/sweetalert2.min.css') }}" rel="stylesheet"> -->

<!-- <link href="{{ url_for('static', filename='static/css/jquery.dataTables.min.css') }}" rel="stylesheet"> -->
<style>
	.disabled-link {
		pointer-events: none;
		cursor: default;
		/* 可选：更改鼠标样式 */
		color: gray;
		/* 可选：改变颜色，使其看起来被禁用 */
	}
</style>
{% endblock %}


{% block content %}
<div class="container-fluid">
	<div class="row">
		<div class="col-xl-12">
			<div class="d-flex mb-1 justify-content-between align-items-center flex-wrap">
				<form id="data-search" class="table-search d-flex gap-2">
					<div class="input-group search-area mb-xxl-0 mb-2">
						<input type="text" name="username" class="form-control" placeholder="用户名">
					</div>
					<div class="input-group search-area mb-xxl-0 mb-2">
						<input type="text" name="email" class="form-control" placeholder="邮箱">
					</div>
					<div class="input-group search-area mb-xxl-0 mb-2">
						<input type="text" name="phone" class="form-control" placeholder="手机">
					</div>
					<div class="input-group search-area mb-xxl-0 mb-2">
						<select class="default-select form-control wide" name="status">
							<option value="">选择类别</option>
							<option value="1">正常</option>
							<option value="0">异常</option>
						</select>
					</div>
					<button type="submit" class="btn btn-sm btn-primary flex-shrink-0">搜索</button>
				</form>
			</div>
			<div class="tab-content">
				<div class="tab-pane active show">
					<div class="table-responsive">
						<table class="table card-table default-table display mb-4 dataTablesCard table-responsive-xl "
							id="guestTable-all">
							<thead>
								<tr>
									<th class="bg-none">
										<div class="form-check style-1">
											<input class="form-check-input" type="checkbox" value="" id="checkAll">
										</div>
									</th>
									<th>编号/用户名</th>
									<th>邮箱</th>
									<th>手机</th>
									<th>状态</th>
									<th>注册时间</th>
									<th>操作</th>
								</tr>
							</thead>
							<tbody id="data-table">

							</tbody>
						</table>
						<ul class="pagination pagination-circle" id="data-pages">
							<li class="page-item page-indicator">
								<a class="page-link" href="javascript:void(0)">
									<i class="la la-angle-left"></i></a>
							</li>
							<li class="page-item active"><a class="page-link" href="javascript:void(0)">1</a>
							</li>
							<li class="page-item"><a class="page-link" href="javascript:void(0)">2</a></li>
							<li class="page-item"><a class="page-link" href="javascript:void(0)">3</a></li>
							<li class="page-item"><a class="page-link" href="javascript:void(0)">4</a></li>
							<li class="page-item page-indicator">
								<a class="page-link" href="javascript:void(0)">
									<i class="la la-angle-right"></i></a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block js %}
<!-- Required vendors -->
<script src="{{ url_for('static', filename='static/js/global.min.js') }}"></script>
<script src="{{ url_for('static', filename='static/js/jquery.nice-select.min.js') }}"></script>

<!-- Datatable -->
<!-- <script src="{{ url_for('static', filename='static/js/jquery.dataTables.min.js') }}"></script> -->
<!-- <script src="{{ url_for('static', filename='static/js/datatables.init.js') }}"></script> -->
<!-- <script src="{{ url_for('static', filename='static/js/sweetalert2.min.js') }}"></script>
<script src="{{ url_for('static', filename='static/js/sweetalert.init.js') }}"></script> -->
<script src="{{ url_for('static', filename='static/js/sweetalert2@11.js') }}"></script>
<script src="{{ url_for('static', filename='static/js/custom.min.js') }}"></script>
<script src="{{ url_for('static', filename='static/js/deznav-init.js') }}"></script>
<script src="{{ url_for('static', filename='static/js/demo.js') }}"></script>
<script src="{{ url_for('static', filename='static/js/styleSwitcher.js') }}"></script>
<script>

	let search = "";
	let this_page = 1;
	function renderPages(page = this_page, filters = "") {
		$.ajax({
			url: "/user/?page=" + page + "&" + filters,
		}).done(function (res) {
			let data = res.data;
			let tr = "";
			let pre_page = data.page - 1;
			let next_page = data.page + 1;
			let pre_disabled = "";
			let next_disabled = "";
			if (data.page == 1) {
				pre_page = 1;
				pre_disabled = "disabled-link";
			}
			if (next_page > data.max_page) {
				next_page = data.max_page;
				next_disabled = "disabled-link";
			}

			let pages = `<li class="page-item page-indicator ${pre_disabled}">
							<a class="page-link" href="javascript:void(0)" data-index="${pre_page}">
								<i class="la la-angle-left"></i></a>
						</li>`;
			for (let i = 0; i < data.items.length; i++) {
				tr += `<tr>
						<td>
							<div class="form-check style-1">
								<input class="form-check-input" type="checkbox" value="">
							</div>
						</td>
						<td>
							<div class="media-bx">
								<img class="me-3 rounded"
									src="${data.items[i].avatar}" alt="">
								<div>
									<span class="text-primary">#` + data.items[i].id + `</span>
									<h4 class="mb-0 mt-1"><a class="text-black"
											href="guest-detail.html">` + data.items[i].username + `</a></h4>
								</div>
							</div>
						</td>
						<td>
							<div>
								<h5>` + data.items[i].email + `</h5>
							</div>
						</td>
						<td>
							<div>
								<h5>` + data.items[i].phone + `</h5>
							</div>
						</td>
						<td>
							<div>
								<h5>` + data.items[i].status_text + `</h5>
							</div>
						</td>
						<td><h5>` + data.items[i].created_at + `</h5></td>
						<td>
							<div class="dropdown dropstart">
								<a href="javascript:void(0);" class="btn-link" data-bs-toggle="dropdown"
									aria-expanded="false">
									<svg width="24" height="24" viewbox="0 0 24 24" fill="none"
										xmlns="http://www.w3.org/2000/svg">
										<path
											d="M11 12C11 12.5523 11.4477 13 12 13C12.5523 13 13 12.5523 13 12C13 11.4477 12.5523 11 12 11C11.4477 11 11 11.4477 11 12Z"
											stroke="#262626" stroke-width="2" stroke-linecap="round"
											stroke-linejoin="round">
										</path>
										<path
											d="M18 12C18 12.5523 18.4477 13 19 13C19.5523 13 20 12.5523 20 12C20 11.4477 19.5523 11 19 11C18.4477 11 18 11.4477 18 12Z"
											stroke="#262626" stroke-width="2" stroke-linecap="round"
											stroke-linejoin="round">
										</path>
										<path
											d="M4 12C4 12.5523 4.44772 13 5 13C5.55228 13 6 12.5523 6 12C6 11.4477 5.55228 11 5 11C4.44772 11 4 11.4477 4 12Z"
											stroke="#262626" stroke-width="2" stroke-linecap="round"
											stroke-linejoin="round">
										</path>
									</svg>
								</a>
								<div class="dropdown-menu">
									<a class="dropdown-item edit" data-index="${data.items[i].id}" href="javascript:void(0);">编辑</a>
									<a class="dropdown-item delete" data-index="${data.items[i].id}" href="javascript:void(0);">删除</a>
								</div>
							</div>
						</td>
					</tr>`;
				// console.log(data.items[i])
			}
			for (let i = 0; i < data.pages.length; i++) {
				let active = "";
				let disabled = "";
				if (data.pages[i] == data.page) {
					active = "active";
				}
				if (data.pages[i] == "...") {
					disabled = "disabled-link";
				}
				pages += `<li class="page-item ${active} ${disabled}"><a class="page-link" href="javascript:void(0)" data-index="${data.pages[i]}">${data.pages[i]}</a></li>`;
			}

			pages += `<li class="page-item page-indicator ${next_disabled}">
						<a class="page-link" href="javascript:void(0)" data-index="${next_page}">
							<i class="la la-angle-right"></i></a>
					</li>`;
			$("#data-table").html(tr);
			$("#data-pages").html(pages);
		});
	}

	renderPages();
	$("#data-pages").on("click", ".page-link", function (event) {
		this_page = $(this).data("index");
		renderPages(this_page, search);
	})

	$("#data-table").on("click", ".delete", function (event) {
		let id = $(this).data("index");
		Swal.fire({
			title: "确定删除吗？",
			text: "删除后不可撤销！",
			icon: "warning",
			showCancelButton: true,
			confirmButtonColor: "#3085d6",
			cancelButtonColor: "#d33",
			confirmButtonText: "确定",
			cancelButtonText: "取消",
		}).then((result) => {
			if (result.isConfirmed) {
				$.ajax({
					url: "/user/" + id,
					type: "DELETE"
				}).done(function (res) {
					Swal.fire({
						// title: "Deleted!",
						text: res.msg,
						icon: "success"
					});
					renderPages(this_page, search);
				})
			}
		});
	});

	$("#data-table").on("click", ".edit", function (event) {
		let id = $(this).data("index");
		Swal.fire({
			title: "编辑用户",
			width: 800,
			html: `
    <iframe src="http://127.0.0.1:5000/user/edit.html?id=${id}" width="100%" height="400px" style="border: none;"></iframe>
  `,
			showCloseButton: true,
			showConfirmButton: false,
			allowOutsideClick: false, // 🚫 禁止点击弹窗外关闭
		}).then((result) => {
			// ⚡ 判断用户是如何关闭弹窗的
			if (result.isDismissed && result.dismiss === Swal.DismissReason.close) {
				renderPages(this_page, search);
			}
		});;

	});

	$("#data-search").on("submit", function (e) {
		e.preventDefault();

		// serialize() 将表单序列化为字符串
		search = $(this).serialize();
		this_page = 1;
		renderPages(this_page, search);
	});
</script>
{% endblock %}